<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.bjut.hrpostmanagement.mapper.PostManagementMapper">
    <insert id="insertPost">
        insert into post(small_post_id, name, description, demand, pay, min_internship, workplace, delivery_deadline,
                         hr_id,work_city, status)
        values (#{postSmallType.id}, #{name}, #{description}, #{demand}, #{pay}, #{minInternship}, #{workPlace},
                #{deliveryDeadline}, #{humanResource.id}, #{workCity}, #{status});
    </insert>

    <select id="selectPostInfo" resultType="map">
        select post.name,
               post.id,
               post_small_type.name as postSmallTypeName,
               post.min_internship,
               post.pay,
               post.delivery_deadline,
               post.work_city,
               post.status
        from post_small_type,
             post
        where post.small_post_id = post_small_type.id;
    </select>
    <select id="selectSmallPostIdOnName" resultType="java.lang.Integer">
        select id from post_small_type where name = #{name}
    </select>
    <select id="selectAllSmallTypeName" resultType="java.lang.String">
        select name from post_small_type;
    </select>
</mapper>