<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.bjut.manageridentified.mapper.ManagerIdentifiedMapper">
    <select id="selectPendingFirm" resultType="cn.edu.bjut.entity.enterprise.Enterprise">
        select * from enterprise where status = '待审核';
    </select>

    <select id="selectApprovalFirm" resultType="map">
        select register_approval.id, manager_id, enterprise_id, approval_time, status from register_approval;
    </select>
    <select id="selectEnterpriseDetail" resultType="cn.edu.bjut.entity.enterprise.Enterprise">
        select *
        from enterprise where id = #{id};
    </select>
</mapper>